<!-- <div>
  <app-test (childEvent)="messageFromChild=$event" [parentData]="parent_name"></app-test>
</div> -->
<div>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <br>
    <a routerLink="/test" routerLinkActive="active">Test</a>
    <br>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <br>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
    <br>
    <a routerLink="/FormTemplateDriven" routerLinkActive="active">Form template driven</a>
    <br>
    <a routerLink="/FormReactive" routerLinkActive="active">Form reactive</a>
    <br>
  </nav>
</div>
<hr>
<router-outlet></router-outlet>